body{
    margin: 0;
}
.flex-container{
    display: flex;
}
.left-header
{
    flex: 50%;
}
.right-header{
    flex: 50%;
}
header{
    background-color: black;
}
header ul {
    list-style-type: none;

}
header ul li {
    display: inline;
    margin-left: 40px;
}
header ul li a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.right-header li a{
    color: deeppink;
}